<div class="profiles-header">
  <h3>Make friends, share reviews, talk about your favorite fruit!</h3>
  <%= link_to "Profiles", profiles_path, :class => "button" %>
</div>
<ul>
  <% @profiles.each do |profile| %>
    <li><a href="<%= show_user_profile_path(profile.user_id) %>"><%= profile.first_name %> <%= profile.last_name %></a></li>
  <% end %>
</ul>