@import "foundation_and_overrides";

// top-nav custom styles

li.name > a {
  color: white;
  font-size: 20px;
}

section > ul > li {
  color: white;
}

// main page styles

.main-page {
  @extend .columns;
  @extend .large-12;
  @extend .large-centered;
  height: 100%;
}

.alert-display {
  @extend .right;
  @extend .large-4;
  @extend .large-centered;
  @extend .columns;
}

.alert, .notice {
  margin-top: 100px;
  font-size: 25px;
  text-align: center;
}

.alert {
  color: tomato;
}

.notice {
  color: green;
}

// global styles

.centered {
  text-align: center;
}
