// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation_and_overrides';

.form-wrapper {
  margin-top: 30px;
  @extend .large-centered;
  @extend .large-6;
  @extend .columns;
}

.form-container {
  margin-top: 30px;
  @extend .large-centered;
  @extend .large-12;
  @extend .columns;
}

.profile-container {
  // margin-top: 30px;
  @extend .large-9;
  @extend .columns;
}

li {
  list-style: none;
}

.button {
  float: right;
  top: 0;
}

.user-reviews {
  @extend .large-12;
  @extend .columns;
}

.user-reviews.wrapper {
  @extend .large-8;
  @extend .columns;
  @extend .large-centered;
}